<div style="padding: 1rem">
  <h1>Your Cart</h1>

  <div class="shopping-cart">
    <div class="column-labels">
      <label class="product-image">Image</label>
      <label class="product-details">Product</label>
      <label class="product-price">Price</label>
      <label class="product-quantity">Quantity</label>
      <label class="product-removal">Remove</label>
      <label class="product-line-price">Total</label>
    </div>

    @for (item of cart.productList; track item;let i = $index) {
    <div class="product">
      <div class="product-image">
        <img src="{{ item.image }}" />
      </div>
      <div class="product-details">
        <div class="product-title">{{ item.name }}</div>
        <p class="product-description">
          {{ item.describtion }}
        </p>
      </div>
      <div class="product-price">{{ item.cost }} VND</div>
      <div class="product-quantity">
        <input type="number" min="1" [formControl]="this.quantityFormList[i]" />
      </div>
      <div class="product-removal">
        <button
          tuiButton
          type="button"
          size="s"
          appearance="accent"
          (click)="removeProduct(i)"
        >
          Remove
        </button>
      </div>
      <div class="product-line-price">
        {{ count(this.quantityFormList[i].value, item.cost) }}.000 VND
      </div>
    </div>
    }

    <div class="totals">
      <div class="totals-item">
        <label>Subtotal</label>
        <div class="totals-value" id="cart-subtotal">{{ cart.total }}.000 VND</div>
      </div>

    </div>

    <button
      tuiButton
      type="button"
      icon="tuiIconCommand"
      size="s"
      class="checkout"
    >
      Checkout
    </button>
  </div>
</div>
