<!--<div class="wrap">-->
<!--  <div class="search">-->
<!--    <input type="text" class="searchTerm" placeholder="What are you looking for?">-->
<!--    <button type="submit" class="searchButton">-->
<!--      <i class="fa fa-search"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
<!--<h1>Sách bán chạy</h1>-->
<!--<div class="content" >-->
<!--  @for (item of cardServices.productList; track item['name']) {-->
<!--    @if(item['inventory']>0){-->
<!--      <div class="card"-->

<!--      >-->
<!--        <p>{{ item['name'] }}</p>-->
<!--        <p> {{ item['describtion'] }}</p>-->
<!--        <div class="image"  (click)="getProductById(item.id)"-->
<!--             [routerLink]="['/card',item.id]">-->

<!--          <img src="{{item['image']}}" alt="book" width="250" />-->
<!--        </div>-->
<!--        <div class="menu">-->
<!--          <div class="price">-->
<!--            {{ item['cost'] }}VND-->
<!--          </div>-->
<!--          <div class="price">-->
<!--            {{ item['inventory'] }}-->
<!--          </div>-->
<!--          <div class="btn">-->
<!--            <button-->
<!--              (click)="this.cardServices.addToCart(item)"-->
<!--              >Add to Cart!-->
<!--            </button>-->
<!--&lt;!&ndash;            <button&ndash;&gt;-->
<!--&lt;!&ndash;              (click)="openDialog(item)">Edit&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button&ndash;&gt;-->
<!--&lt;!&ndash;    (click)="delete(item)"&ndash;&gt;-->
<!--&lt;!&ndash;            >Delete&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    }-->
<!--  }-->
<!--</div>-->


<div class="tui-col_md-4">
  @for (item of cardServices.productList; track item['name']) {
    @if(item['inventory']>0){
      <tui-island >

        <div class="image">
          <img src="{{item['image']}}">
        </div>

        <h3 class="tui-island__title">{{item.name}}</h3>
        <p class="tui-island__paragraph">
          {{item.cost}} VND
        </p>
        <button
          appearance="flat"
          size="m"
          tuiButton
          id="btnCard"
          type="button"
          class="tui-island__footer-button"
          (click)="this.cardServices.addToCart(item)"
        >
          Add to Cart
        </button>
      </tui-island>
    }
  }
</div>
