<div class="search">
   <tui-input
   tuiHintContent=" Search"
    tuiHintDirection="bottom-right"
    tuiTextfieldIconLeft="tuiIconSearchLarge"
    class="input"
    [tuiTextfieldCleaner]="true"

  >
    Search
    <input
      placeholder="search now"
      tuiTextfield
    />
  </tui-input>

  <button
    size="m"
    tuiButton
    tuiHint="Some text"
    tuiHintDirection="top"
    type="button"
    class="addbutton"
    (click)="showDialog()"
  >
    Add
  </button>
</div>





<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Declarative directive', size: 's'}"
  [(tuiDialog)]="open"
>
  <form
    [formGroup]="itemForm"
    (ngSubmit)="observer.complete()"
  >
    <p>This abstracts away service and subscription</p>
    <tui-input
      formControlName="name"
      tuiAutoFocus
    >
    Name
    </tui-input>
    <tui-input
      formControlName="describtion"
      tuiAutoFocus
    >
      Descrption
    </tui-input>
    <tui-input
      formControlName="cost"
      tuiAutoFocus
    >
      Cost
    </tui-input>
    <tui-input
      formControlName="inventory"
      tuiAutoFocus
    >
      Inventory
    </tui-input>
    <tui-input
      formControlName="image"
      tuiAutoFocus
    >
      Image
    </tui-input>
    <p>
      <button
        tuiButton
        type="button"
        (click)="addProduct()"

        class="button"
      >

        Ok
      </button>
    </p>
  </form>
</ng-template>



<table class="tui-table">
  <tbody>

  <tr class="tui-table__tr tui-table__tr_border_none">

    <th class="tui-table__th"> Name</th>
    <th class="tui-table__th">Inventory</th>
    <th class="tui-table__th">Cost</th>
    <th class="tui-table__th" >Describtion</th>
    <th class="tui-table__th tui-table__th_last">Action</th>

  </tr>
    @for (item of this.cardServices.productList;track item.id){
      <tr class="tui-table__tr tui-table__tr_border_none">

        <td class="tui-table__td">{{item.name}}</td>
        <td class="tui-table__td">{{item.inventory}}</td>
        <td class="tui-table__td">{{item.cost}}</td>
        <td class="tui-table__td" id="des">{{item.describtion}}</td>
        <td class=" tui-table__td tui-table__td_last">
          <button
            appearance="primary"
            tuiButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            (click)="showEditDialog(item)"

          >
            Edit
          </button>
          <button
            appearance="accent"
            tuiButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            (click)="delete(item)"
          >
            Delete
          </button>
        </td>
      </tr>
    }


  </tbody>
</table>



<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Edit', size: 's'}"
  [(tuiDialog)]="openEdit"
>
  <form
    [formGroup]="itemUpdateForm"
    (ngSubmit)="observer.complete()"
  >
    <p>This abstracts away service and subscription</p>
    <tui-input
      formControlName="name"
      tuiAutoFocus
    >
      Name
    </tui-input>
    <tui-input
      formControlName="describtion"
      tuiAutoFocus
    >
     Description
    </tui-input>
    <tui-input
      formControlName="cost"
      tuiAutoFocus
    >
      Cost
    </tui-input>
    <tui-input
      formControlName="inventory"
      tuiAutoFocus
    >
     Inventory
    </tui-input>
    <tui-input
      formControlName="image"
      tuiAutoFocus
    >
      Image
    </tui-input>
    <p>
      <button
        tuiButton
        type="button"
        (click)="updateProduct()"
        class="button"
      >

        Edit
      </button>
    </p>
  </form>
</ng-template>

