<div class="container">
  <div class="item">
    <img class="img" [src]="producte.image"/>
    <div class="info">
      <h2>Name: {{ producte.name }}</h2>
      <p>Describtion: {{ producte.describtion }}</p>
      <p>Cost: {{ producte.cost }} VNĐ</p>
      <p>Inventory: {{ producte.inventory }}</p>
    </div>

  </div>
  <div class="right">
    <button (click)="this.cardService.addToCart(producte)"
            style="width: 300px; padding: 20px 20px; border-radius: 12px; background-color: red; color:white; font-size: 14px;">
      Add To Cart
    </button>
  </div>



</div>
<app-footer></app-footer>
