#container
{
  width: 100%;
  height: 100%;
}
#top{
  width: 100%;
  height: 10%;
}

#body{
  width:90%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}
#under{
  width: 100%;
  height: 40%;
}

