<!--<div class="navbar">-->
<!--  <a href="#name">IBM[Name]</a>-->
<!--  <a href="#dashboard">Dashboard</a>-->
<!--  <a href="#user-management">User Management</a>-->
<!--  <a href="#role-management">Role Management</a>-->
<!--  <a href="#post-management">Post Management</a>-->
<!--  <a href="#report-management">Report Management</a>-->
<!--  <a href="#setting">Setting</a>-->
<!--</div>-->
<div class="container">
  <div class="overlay-panel">
    <img src="assets/2.png">
  </div>

  <div class="form-container">
    <img src="assets/1.png" class="img">
    <h1>ABC web</h1>
    <div class="sigin">
      <h2>Sign in</h2>
      <tui-input >
        Type an Email
        <input
          autocomplete="email"
          translate="no"
          tuiTextfield
          type="email"
        />
      </tui-input>
      <tui-input >
        Type an Password
        <input
          autocomplete="password"
          translate="no"
          tuiTextfield
          type="password"
        />
      </tui-input>
      <button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
      >
        primary
      </button>
      <button
       (click)="signWithGoogle()"
      >Sign With Google</button>
    </div>

  </div>

</div>

